.output{
    position: absolute;
    top: 51%;
    right: 60%;
    width: 780px;
    height: 700px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #242826;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-height: 100%; 
}
.naslov > h2{
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 35px;
}
.output-kartica .keys{
    color: rgba(143, 124, 236, 0.7);
}
.output-kartica .props-stil{
    color: white;
}