.pozadina {
  display: flex; /* Koristi flexbox */
  flex-wrap: wrap; /* Omogući prelazak u novi red ako nema dovoljno prostora */
  gap: 20px; /* Razmak između postova */
  padding: 20px; 
  background-color: #f0f0f0; 
}
.post {
    width: 270px;
    min-height: 400px;
    background-color: transparent;
    color: #9a5fb5;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #9a5fb5;
    display: block;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 47px;
    margin-left: 47px;
    font-size: 13px;
    overflow: auto;
  }
  .post:hover {
    background-color: #9a5fb5;
    color: white;
    border: 5px;
    box-shadow: 0px 0px 50px #9a5fb5;
    padding-top: 20px;
    padding-bottom: 20px; 
  }
  .post:hover span {
    color: black;
  } 




   /* .post {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .post .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post .body {
    font-size: 16px;
    line-height: 1.5;
  }
   */
