body{
    background-color: #242826;
}
.glavni{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding-right: 100px;
}
.glavni button{
    margin-right: 100px;
    margin-top:20px;
    font-weight: 500;
    font-size: larger;
    width: 200px;
    height: 60px;
    background-color: rgb(45, 120, 185);
    color: white;
}